{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg">
            {% if site.author.avatar %}
              {% if site.author.avatar contains "://" %}
                {% assign logo_src = site.author.avatar %}
              {% else %}
                {% assign logo_src = site.author.avatar | prepend: "/images/" | prepend: base_path %}
              {% endif %}
              <a href="{{ base_path }}/" class="site-logo" aria-label="{{ site.title }}">
                <img src="{{ logo_src }}" alt="{{ site.title }}" class="site-logo__img">
              </a>
            {% else %}
              <a href="{{ base_path }}/">{{ site.title }}</a>
            {% endif %}
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
