---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px #efefef solid;
  box-sizing: border-box;
  padding: 2.4em 1.2em;

  .paper-box-image {
    justify-content: center;
    display: flex;
    width: 100%;
    order: 2;

    img {
      width: 100%;
      max-width: 400px;
      box-shadow: 3px 3px 6px #888;
      object-fit: cover;
    }
  }

  .paper-box-text {
    max-width: 100%;
    order: 1;
    font-size: 0.9em;

    ul {
      margin-top: 0.6em;
      margin-bottom: 0.9em;
    }

    li {
      margin-bottom: 0.4em;
    }
  }

  @include breakpoint($medium) {
    .paper-box-image {
      justify-content: left;
      min-width: 200px;
      max-width: 34%;
      order: 1;
    }

    .paper-box-text {
      justify-content: left;
      padding-left: 1.8em;
      max-width: 62%;
      order: 2;
    }
  }
}

.badge {
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  margin-top: .5em;
  margin-left: -.5em;
  color: white;
  background-color: #00369f;
  font-size: .8em;
}
